:root {
  /* Project colors */
  --primary: #0783c6;
  --primary-dark: #066a9f;
  --primary-darker:rgb(5, 81, 122)f;
  --primary-light: rgb(91, 191, 245);
  --primary-opacity: rgba(7, 130, 197, 0.25);

  --secondary: #f05c61;
  --secondary-dark: #d33f44;
  --secondary-darker: #bc3136;
  --secondary-light: #f6777b;
  --secondary-lighter: #fa9d9e;
  --secondary-opacity: rgba(223, 56, 62, 0.323);

  /* Abstract colors */
  --white: #f5f5f5;
  --grey: #a49c9c;
}